h1 {
	margin: 0px;
	padding: 0px;
	font-family: 'Indie Flower', sans-serif;
	font-size: 8em;
	text-align: center;
	color: #8C92AC;
}

body {
font-family: 'Indie Flower', sans-serif;

}

P {
text-align: center;
font-size: 1.5em;
}

h2 {

text-align: center;
font-size: 3em;
color: #F78181; 

}

ul li {
	text-align: center;
	list-style: none;
	font-size: 1.5em;
}